{% extends "template/portal.njk" %}
{% block content %}
    <div class="section pt-lg-0">
        <div class="r-container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ t('nav.blog') }}</h1>
                    <p>Blog content coming soon...</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
