{% extends "template/portal.njk" %}
{% block content %}
    <div class="section pt-lg-0">
        <div class="r-container">
            <div class="row row-cols-lg-2 row-cols-1">
                <div class="col mb-3">
                    <div class="d-flex flex-column justify-content-center h-100 pe-lg-5 pe-0">
                        <span class="font-1 accent-color-2 fs-3">Bienvenidos a Cat Lovers Paradise</span>
                        <div class="mb-4">
                            <h3 class="font-2 fw-semibold">
                                Un paraíso donde el amor por los gatos se convierte en hogar
                            </h3>
                        </div>
                        <p class="text-gray">
                            En Cat Lovers Paradise nos apasiona el cuidado y bienestar de gatos de distintas razas como Sphynx, Maine Coon, British,
                            Bengalí y Azul Ruso. Criamos con amor y responsabilidad, ofreciendo gatitos con pedigree, salud garantizada y la
                            compañía ideal para cada familia. Nuestro compromiso es que encuentres en nosotros un compañero felino único y especial.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="ps-lg-5 ps-0 position-relative ">
                        <img src="public/portal/image/gatosinicio.png" alt="image" class="img-fluid">
                        <div class="position-absolute start-0 bottom-0 video-e119">
                            <div class="position-relative h-100 overflow-hidden" style="border: 5px solid white ; border-radius: 13px;">
                                
                                <div class="position-absolute start-0 top-0 w-100 h-100" style="z-index: 2;">
                                    
                                </div>
                                <img src="public/portal/image/gatos2inicio.png" alt="image" class="w-100 img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}